h1{
  @include nr-slabblack;
  text-transform:uppercase;
  font-weight:bold;
  font-size:1.75em;
  a{
    color:$gray;
    &:hover, &:focus{
      color:$purple;
    }
  }
}
.slide h1{
  font-size:2.5em;
  text-align:center;
}
h2{
  @include nr-sansblack;
  font-size: 3em;
  text-align:center;
}
p{
  @include body-copy;
}
.header .navigation li a {
  @include nr-sansblack;
  font-size: 1em;
  color:$gray;
  &:hover, &:focus{
    color:$purple;
  }
}

@media screen and (min-width:40em){
  .header h1{
  }
}
